/*Struct of style
h1 - Selector
All in {
  its block of init styles
  property: value
}*/

/*There are 3 ways for selector on tag */
/*1. For all types of tag*/
body {
  /*background-color: brown;*/
}

h3 {
  color: orange;
}

/*2. Select id. Once for one id*/
#prg {
  color: white;
}

/*3. Classes. Multiple*/
.style {
  opacity: 0.5;
}
/*For unique use for some tag use tag.nameClass*/
p.style {
  color: blue;
}
/*You can use one class for many implementation for other tags*/
strong.style {
  background-color: white;
}

/*For all tags that have a tag*/
strong i {
  color: green;
}

/*For all document*/
* {
  /*font-size: 20px;*/
  text-decoration: none;
}

/*Group tags*/
p.exmpl, strong {
  font-size: 30px;
  font-weight: lighter;
}

/*Pseudo element*/
p#test:first-letter {
  color: white;
}
p#test:first-line {
  color: yellow;
}

/*Pseudo class*/
.href:hover {
  color: white;
}

.href:active {
  color: green;
}

.href:visited {
  color: green;
}

/*Background image*/

html {
  /*background: url('Assets/bg.jpg') no-repeat center center fixed height:100%;*/
    height: 100%;
    margin: 0;
    background-image: url("Assets/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#textStyle {
  font-size: 1.1em;
  font-weight: bold;
  font-family: sans-serif; /*if doesn`t exist font-family use defualt through ,sans-serif */
  text-align: justify;
  text-indent: 1.1em;
  text-transform: capitalize;
  word-spacing: 15px;
  letter-spacing: 10px;
  line-height: 120%; 
  color: white;
}
