header, footer, article, aside {
  float: left;
}
header {
  /*Full screen size*/
  width: calc(100% - 20px);
  height: 50px;
  background-color: silver;
  border-top: 2px solid black;
  padding: 10px;
  font-size: 1.2em;
  font-family: Arial Rounded MT Bold, sans-serif;
  color: #ffe700;
}

article, aside {
  background-color: #fafafa;
  height: 400px;
  border-radius: 5px;
  border: 1px solid silver;
  box-sizing: border-box;
  margin-top: 20px;
  float: left
}

article {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  /*position: relative;*/
  /*clear: removes blocks*/
}

aside {
  width:25%;
}

footer {
  width: calc(100% - 20px);
  height: 50px;
  background-color: silver;
  border-bottom: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2em;
  font-family: Arial Rounded MT Bold, sans-serif;
  color: #ffe700;
}

span {
  display: list-item;
  width: 100px;
  height: 30px;
  border: 1px solid red;
  /*auto direction scroll*/
  overflow: auto;
}
